
<!DOCTYPE html>
<html>
    <title>toDo List</title>
    <meta charset="utf-8">
    <link rel = "icon" href = 
"https://cdn-icons-png.flaticon.com/512/7246/7246748.png" 
        type = "image/x-icon">
    <link rel = "stylesheet" href = "css/styles.css">
</html>
<body>
    <div class = "box" id = "heading">
        <h1 ><%=kindOfDay%>!</h1>
    </div>
    
    <div class = "box">
        <% let i; %>
        <%for(i = 0; i < arrItems.length; i++){%>
            <form action = "/delete" method = "post" >
                <div class = "item">
                    <input type = "checkbox" name = "checkbox" value = <%=arrItems[i]._id%> onchange="this.form.submit()">
                    <p><%=arrItems[i].name%></p>
                </div>
            </form>
               
        <%}%>

        <form class = "item" action="/" method="post">
            <input type = "text" name = "newItem" placeholder="Enter task">
            <button type = "submit">+</button>
        </form>
    </div>
     
    
</body>